body,
html {
  height: 100vh;
}

.cover {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: #fff;
  text-align: center;
  background: #222 url("../images/header.jpg") center center no-repeat;
  background-size: cover;
  -ms-flex-align: center;
  align-items: center;
}

.cover-caption {
  width: 100%;
}
