body {
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  background: url("../images/header.jpg") center center no-repeat;
  background-size: cover;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  font-size: 18px;
}

.logo {
  grid-column: 2;
  grid-row: 1;
  max-width: 100%;
  width: 85%;
  margin-top: 2.5rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.wrapper {
  grid-column: span 3;
  grid-row: 2;
  display: grid;
  justify-content: center;
  align-self: center;
  background: rgba(39, 39, 39, 0.75);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 100%;
}

.lead {
  grid-column: 2;
  grid-row: 2;
  color: white;
  font-family: "Titillium Web", sans-serif;
}

.links {
  align-self: start;
  grid-column: 2;
  grid-row: 3;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(40px, 1fr));
  grid-template-rows: 50px;
  justify-content: start;
  grid-gap: 0 18vw;
}

.links li {
  list-style: none;
  margin: 0;
}

.links li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  -webkit-transform: perspective(1000px) rotate(-30deg) skew(20deg)
    translate(0, 0);
  transform: perspective(1000px) rotate(-30deg) skew(20deg) translate(0, 0);
  -webkit-box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.5);
  box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.5);
}

.links li a .fa {
  font-size: 25px;
  color: #262626;
  line-height: 50px;
}

.links li a .fa {
  color: #fff;
}

.links li a:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: #ececec;
  -webkit-transform: rotate(0deg) skewY(-45deg);
  transform: rotate(0deg) skewY(-45deg);
}

.links li a:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  height: 10px;
  width: 100%;
  background: #f3f2f2;
  -webkit-transform: rotate(0deg) skewX(-45deg);
  transform: rotate(0deg) skewX(-45deg);
}

.links li:nth-child(1) .fa {
  color: #000;
}

.links li:nth-child(2) .fa {
  color: #007bb6;
}

.links li:nth-child(3) .fa {
  color: #dc493c;
}

@media screen and (min-device-width: 481px) and (max-device-width: 999px) {
  .links {
    grid-gap: 0 16vw;
  }
  .logo {
    margin-top: 2.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 70%;
  }
  .wrapper {
    grid-column: span 3;
    grid-row: 2;
    display: grid;
    justify-content: center;
    align-self: center;
    background: rgba(39, 39, 39, 0.75);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100%;
  }
  .lead {
    padding: 0 15vw;
    color: white;
    text-align: center;
  }
  .links li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    -webkit-transform: perspective(1000px) rotate(-30deg) skew(20deg)
      translate(0, 0);
    transform: perspective(1000px) rotate(-30deg) skew(20deg) translate(0, 0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: -20px 20px 7.5px rgba(0, 0, 0, 0.5);
    box-shadow: -20px 20px 7.5px rgba(0, 0, 0, 0.5);
  }
  .links li a .fa {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .links li a .fa {
    color: #fff;
  }
  .links li a:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #ececec;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: rotate(0deg) skewY(-45deg);
    transform: rotate(0deg) skewY(-45deg);
  }
  .links li a:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #f3f2f2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: rotate(0deg) skewX(-45deg);
    transform: rotate(0deg) skewX(-45deg);
  }
  .links li:nth-child(1) a {
    background: #171516;
  }
  .links li:nth-child(1) .fa {
    color: #fff;
  }
  .links li:nth-child(1) a:before {
    background: #232122;
  }
  .links li:nth-child(1) a:after {
    background: #3f444b;
  }
  .links li:nth-child(2) a {
    background: #007bb6;
  }
  .links li:nth-child(2) .fa {
    color: #fff;
  }
  .links li:nth-child(2) a:before {
    background: #0376ad;
  }
  .links li:nth-child(2) a:after {
    background: #0383bf;
  }
  .links li:nth-child(3) a {
    background: #dc493c;
  }
  .links li:nth-child(3) .fa {
    color: #fff;
  }
  .links li:nth-child(3) a:before {
    background: #bb3e33;
  }
  .links li:nth-child(3) a:after {
    background: #d4463b;
  }
}

@media screen and (min-device-width: 1000px) {
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    justify-items: center;
    align-items: center;
    overflow: hidden;
  }
  .logo {
    grid-column: 2;
    grid-row: 1;
    max-width: 100%;
    width: 70%;
    margin-top: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .wrapper {
    grid-column: span 3;
    grid-row: 2;
    display: grid;
    justify-content: center;
    align-self: center;
    background: rgba(39, 39, 39, 0.75);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100%;
  }
  .lead {
    padding: 0;
    color: white;
    text-align: center;
  }
  .links {
    align-self: start;
    grid-column: 2;
    grid-row: 3;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(3, minmax(40px, 1fr));
    grid-template-rows: 50px;
    justify-content: start;
    grid-gap: 0 12vw;
  }
  .links li {
    list-style: none;
  }
  .links li:nth-child(1) a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    -webkit-transform: perspective(1000px) rotate(-30deg) skew(20deg)
      translate(0, 0);
    transform: perspective(1000px) rotate(-30deg) skew(20deg) translate(0, 0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  }
  .links li:nth-child(1) a .fa {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .links li:nth-child(1) a:hover .fa {
    color: #fff;
  }
  .links li:nth-child(1) a:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #ececec;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: rotate(0deg) skewY(-45deg);
    transform: rotate(0deg) skewY(-45deg);
  }
  .links li:nth-child(1) a:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #f3f2f2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: rotate(0deg) skewX(-45deg);
    transform: rotate(0deg) skewX(-45deg);
  }
  .links li:nth-child(1) a:hover {
    -webkit-transform: perspective(1000px) rotate(-30deg) skew(25deg)
      translate(20px, -20px);
    transform: perspective(1000px) rotate(-30deg) skew(25deg)
      translate(20px, -20px);
    -webkit-box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  }
  .links li:hover:nth-child(1) a {
    background: #171516;
  }
  .links li:hover:nth-child(1) a:before {
    background: #232122;
  }
  .links li:hover:nth-child(1) a:after {
    background: #3f444b;
  }
  .links li:nth-child(2) a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    -webkit-transform: perspective(1000px) rotate(-30deg) skew(25deg)
      translate(0, 0);
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  }
  .links li:nth-child(2) a .fa {
    font-size: 40px;
    color: #007bb6;
    line-height: 80px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .links li:nth-child(2) a:hover .fa {
    color: #fff;
  }
  .links li:nth-child(2) a:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #ececec;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: rotate(0deg) skewY(-45deg);
    transform: rotate(0deg) skewY(-45deg);
  }
  .links li:nth-child(2) a:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #f3f2f2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: rotate(0deg) skewX(-45deg);
    transform: rotate(0deg) skewX(-45deg);
  }
  .links li:nth-child(2) a:hover {
    -webkit-transform: perspective(1000px) rotate(-30deg) skew(25deg)
      translate(20px, -20px);
    transform: perspective(1000px) rotate(-30deg) skew(25deg)
      translate(20px, -20px);
    -webkit-box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  }
  .links li:hover:nth-child(2) a {
    background: #007bb6;
  }
  .links li:hover:nth-child(2) a:before {
    background: #0376ad;
  }
  .links li:hover:nth-child(2) a:after {
    background: #0383bf;
  }
  .links li:nth-child(3) a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    -webkit-transform: perspective(1000px) rotate(-30deg) skew(25deg)
      translate(0, 0);
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  }
  .links li:nth-child(3) a .fa {
    font-size: 40px;
    color: #dc493c;
    line-height: 80px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .links li:nth-child(3) a:hover .fa {
    color: #fff;
  }
  .links li:nth-child(3) a:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #ececec;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: rotate(0deg) skewY(-45deg);
    transform: rotate(0deg) skewY(-45deg);
  }
  .links li:nth-child(3) a:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #f3f2f2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: rotate(0deg) skewX(-45deg);
    transform: rotate(0deg) skewX(-45deg);
  }
  .links li:nth-child(3) a:hover {
    -webkit-transform: perspective(1000px) rotate(-30deg) skew(25deg)
      translate(20px, -20px);
    transform: perspective(1000px) rotate(-30deg) skew(25deg)
      translate(20px, -20px);
    -webkit-box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  }
  .links li:hover:nth-child(3) a {
    background: #dc493c;
  }
  .links li:hover:nth-child(3) a:before {
    background: #bb3e33;
  }
  .links li:hover:nth-child(3) a:after {
    background: #d4463b;
  }
}
